
ion-content {
    --background: url('https://static.vecteezy.com/system/resources/previews/002/965/575/non_2x/modern-shiny-gradient-blue-banner-background-free-vector.jpg') no-repeat center center / cover;
  }

  #ruleta34 {
    position: absolute;
    width: 500px;
    height: 500px;
    margin-left: 500px;
  }

  #tyd {
margin-top: 500px;
margin-left: 680px;

  }