
<ion-content [fullscreen]="true">
  <ion-img   (click) = "goRuleta1()" id="ruleta56"  src="https://userscontent2.emaze.com/images/11a89a8b-3459-4b65-9e14-e110478ce720/41c4c783132f80fa9d7584785642ffa1.png">
  </ion-img>
  <div id="columna">
  <ion-row id="left">
    <ion-col>
       JUGADOR
    </ion-col>
    <ion-col>
      PUNTOS
    </ion-col>
  </ion-row>

 

  <ion-row id="left">
    <ion-col>
       {{ usuarios?.id }}
    </ion-col>
    <ion-col>
      {{ usuarios?.level }}
    </ion-col>
  </ion-row>
</div>



</ion-content>
