ion-content {
    --background: url('https://static.vecteezy.com/system/resources/previews/002/965/575/non_2x/modern-shiny-gradient-blue-banner-background-free-vector.jpg') no-repeat center center / cover;
  }

  #ruleta56{
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    width: 500px;
    height: 500px;

  }

  #columna{
    margin-top: 110px;
  }

  #left {
    margin-left: 700px;
  }